{% extends 'base.html' %}


{% block content %}
  <!-- {% if dps is defined %}
	<h3 class="sim-title bg-primary">Fight simulated.</h3>
 {% endif %} -->
	<!-- <section> -->
   	<form action="{{ url_for('simulator.simulate_fight') }}" method="post" class="sim-box"> 
    	<section class="row gy-5 form-area-1">
    		<!-- <div class="col-12"> -->
					<div class="col-xl-6">
						<div class="p-3 form-panel">
							<h2 class="form-panel-title">Stuff Values </h2>
				 			<ul class="stuff-values">
								<li class="gear-val">
									<label class="label" for="intel">Intellect</label>  
									<input class="gear-input textAnimate" type="text" id ="intel" name="intel" {% if toon is defined %} value="{{ toon.intel }}" {% else %} value="100" {% endif %} />

								</li>
								<li class="gear-val">
									<label class="label" for="spirit">Spirit</label>
									<input class="gear-input textAnimate" type="text" id="spirit" name="spirit" {% if toon is defined %} value="{{ toon.spirit }}" {% else %} value="100" {% endif %}/>
								</li>
								<li class="gear-val">
									<label class="label" for="spellpower">Spellpower</label>
									<input class="gear-input textAnimate" type="text" id="spellpower" name="spellpower" {% if toon is defined %} value="{{ toon.spellpower }}" {% else %} value="500" {% endif %}/>
								</li>
								<li class="gear-val">
									<label class="label" for="spell_hit">Spell Hit Value (not percent)</label>  
									<input class="gear-input textAnimate" type="text" id="spell_hit" name="spell_hit" {% if toon is defined %} value="{{ toon.hit_score }}" {% else %} value="100" {% endif %}/>
								</li>
								<li class="gear-val">
									<label class="label" for="spell_crit">Spell Crit Value (not percent)</label>  
									<input class="gear-input textAnimate" type="text" id="spell_crit" name="spell_crit" {% if toon is defined %} value="{{ toon.crit_score }}" {% else %} value="100" {% endif %}/>
								</li>
								<li class="gear-val">
									<label class="label" for="spell_haste">Spell Haste Value (not percent)</label>  
									<input class="gear-input textAnimate" type="text" id="spell_haste" name="spell_haste" {% if toon is defined %} value="{{ toon.haste }}" {% else %} value="0" {% endif %}/>
								</li>
								<hr class="divider"></hr>
								<li>
									<label class="label" for="tinket1">Trinket 1</label> 
									<select class="select selAnimate" id="tinket1" name="trinket1">
										<option class="d-none" value="{{trink1}}"></option>
										<option value="Icon of the Silver Crescent" selected>Icon of the Silver Crescent</option>
										<option value="Eye of Magtheridon">Eye of Magtheridon</option>
										<option value="Dark Iron Smoking Pipe">Dark Iron Smoking Pipe</option>
										<option value="Scryer's Bloodgem">Scryer's Bloodgem</option>
										<option value="Quagmirran's eye">Quagmirran's eye</option>
										<option value="The Restrained Essence of Sapphiron">The Restrained Essence of Sapphiron</option>
										<option value="Vengeance of the Illidari">Vengeance of the Illidari</option>
								<!--		<option value="The Lightning Capacitor">The Lightning Capacitor</option> -->
										<option value="Xiri's Gift">Xiri's Gift</option>
										<option value="Sextant of the Unstable Currents">Sextant of the Unstable Currents</option>
										<option value="Ashtongue Talisman of Equilibrium">Ashtongue Talisman of Equilibrium</option>
										<option value="The Skull of Gul'dan">The Skull of Gul'dan</option>
										<option value="Shiffar's Nexus-Horn">Shiffar's Nexus-Horn</option>
										<option value="Hex Shrunken Head">Hex Shrunken Head</option>
										<option value="Shifting Naaru Sliver">Shifting Naaru Sliver</option>
										<option value="No Trinket">No trinket</option>
									</select>
								</li>
								<li>
									<label class="label" for="tinket2">Trinket 2</label>
									<select class="select selAnimate" id="tinket2" name="trinket2">
										<option class="d-none" value="{{trink2}}"></option>
										<option value="Icon of the Silver Crescent">Icon of the Silver Crescent</option>
										<option value="Eye of Magtheridon">Eye of Magtheridon</option>
										<option value="Dark Iron Smoking Pipe">Dark Iron Smoking Pipe</option>
										<option value="Scryer's Bloodgem">Scryer's Bloodgem</option>
										<option value="Quagmirran's eye" selected>Quagmirran's eye</option>
										<option value="The Restrained Essence of Sapphiron">The Restrained Essence of Sapphiron</option>
										<option value="Vengeance of the Illidari">Vengeance of the Illidari</option>
								<!--		<option value="The Lightning Capacitor">The Lightning Capacitor</option> -->
										<option value="Xiri's Gift">Xiri's Gift</option>
										<option value="Sextant of the Unstable Currents">Sextant of the Unstable Currents</option>
										<option value="Ashtongue Talisman of Equilibrium">Ashtongue Talisman of Equilibrium</option>
										<option value="The Skull of Gul'dan">The Skull of Gul'dan</option>
										<option value="Shiffar's Nexus-Horn">Shiffar's Nexus-Horn</option>
										<option value="Hex Shrunken Head">Hex Shrunken Head</option>
										<option value="Shifting Naaru Sliver">Shifting Naaru Sliver</option>
										<option value="No Trinket">No trinket</option>
									</select>
								</li>
								<li>
									<label class="label" for="idol">Idol</label> 
									<select class="select selAnimate" id="idol" name="idol">
										<option class="d-none" value="{{reqIdol}}"></option>
										<option value="Idol of the Raven Goddess" selected>Idol of the Raven Goddess</option>
										<option value="Idol of the Moongoddess">Idol of the Moongoddess</option>
										<option value="none">None / Feral / Wrath</option>
									</select>
								</li>
							</ul>

							<div>
								<input type="checkbox" id="is_spellstrike" name="is_spellstrike" value="is_spellstrike" 
								{% if toon is defined %}
									{% if toon.is_spellstrike %}checked {% endif %} 
								{% endif %} >
								<label class="label" for="is_spellstrike">Spellstrike Set Bonus</label>
							</div>
							<div>
								<input type="checkbox" id="is_spellfire" name="is_spellfire" value="is_spellfire"
								{% if toon is defined %}
									{% if toon.is_spellfire %} checked {% endif %}
								{% else %} checked 
								{% endif %} >
								<label class="label" for="is_spellfire">Spellfire Set Bonus</label>
							</div>
							<div>
								<input type="checkbox" id="is_csd" name="is_csd" value="is_csd" 
								{% if toon is defined %}
									{% if toon.is_csd %}checked {% endif %}
								{% else %} checked 
								{% endif %} >
								<label class="label" for="is_csd">Chaotic Skyfire Diamond (Meta Gem)</label>
							</div>
			 			</div>
			 		</div>
			 
			 
					<div class="col-xl-6">
						<div class="p-3 form-panel">
							<h2 class="form-panel-title">Talents</h2>
							<legend>Please select your talents :</legend>
							<div>
								<input type="checkbox" id="balance_of_power" name="balance_of_power" value="balance_of_power"
								{% if toon is defined %}
									{% if toon.balance_of_power %}checked {% endif %}
									{% else %} checked 
								{% endif %} >
								<label class="label" for="balance_of_power">Balance of Power</label>
							</div>
							<div>
								<input type="checkbox" id="focused_starlight" name="focused_starlight" value="focused_starlight" 
								{% if toon is defined %}
									{% if toon.focused_starlight %}checked {% endif %}
									{% else %} checked 
								{% endif %} >
								<label class="label" for="focused_starlight">Focused Starlight</label>
							</div>
							<div>
								<input type="checkbox" id="moonkin_form" name="moonkin_form" value="moonkin_form" 
								{% if toon is defined %}
									{% if toon.moonkin_form %}checked {% endif %}
									{% else %} checked 
								{% endif %} >
								<label class="label" for="moonkin_form">Moonkin Form</label>
							</div>
							<div>
								<input type="checkbox" id="improved_mf" name="improved_mf" value="improved_mf" 
								{% if toon is defined %}
									{% if toon.improved_mf %}checked {% endif %}
									{% else %} checked 
								{% endif %} >
								<label class="label" for="improved_mf">Improved Moonfire</label>
							</div>
							<div>
								<input type="checkbox" id="starlight_wrath" name="starlight_wrath" value="starlight_wrath" 
								{% if toon is defined %}
									{% if toon.starlight_wrath %}checked {% endif %}
									{% else %} checked 
								{% endif %} >
								<label class="label" for="starlight_wrath">Starlight Wrath</label>
							</div>
							<div>
								<input type="checkbox" id="vengeance" name="vengeance" value="vengeance"
								{% if toon is defined %}
									{% if toon.vengeance %}checked {% endif %}
									{% else %} checked 
								{% endif %} >
								<label class="label" for="vengeance">Vengeance</label>
							</div>
							<div>
								<input type="checkbox" id="lunar_guidance" name="lunar_guidance" value="lunar_guidance"
								{% if toon is defined %}
									{% if toon.lunar_guidance %}checked {% endif %}
									{% else %} checked 
								{% endif %} >
								<label class="label" for="lunar_guidance">Lunar Guidance</label>
							</div>
							<div>
								<input type="checkbox" id="moonfury" name="moonfury" value="moonfury"
								{% if toon is defined %}
									{% if toon.moonfury == 1.1 %}checked {% endif %}
									{% else %} checked 
								{% endif %} >
								<label class="label" for="moonfury">Moonfury</label>
							</div>	
							<div>
								<input type="checkbox" id="wrath_of_cenarius" name="wrath_of_cenarius" value="wrath_of_cenarius"
								{% if toon is defined %}
									{% if toon.wrath_of_cenarius == 1.2 %}checked {% endif %}
									{% else %} checked 
								{% endif %} >
								<label class="label" for="wrath_of_cenarius">Wrath of Cenarius</label>
							</div>
									
							<!-- Adding Mana talents -->
							<hr class="divider"></hr>
							<div class="form-item">
								<label class="label" for="dreamstate">Dreamstate points</label> 
								<select class="select dreamstate dreamstateAnimate" id="dreamstate" name="dreamstate">
											<option class="d-none" value="{{dreamstate}}"></option>
											<option value="1">1 Point</option>
											<option value="2">2 Points</option>
											<option value="3" selected>3 Points</option>
								</select>
							</div>
							<div class="form-item">
								<label class="label" for="intensity">Intensity points</label> 
								<select class="select dreamstate dreamstateAnimate" id="intensity" name="intensity">
											<option class="d-none" value="{{intensity}}"></option>
											<option value="1">1 Point</option>
											<option value="2">2 Points</option>
											<option value="3" selected>3 Points</option>
								</select>
							</div>
						</div>
					</div>
				<!-- </div> -->
			</section>
			<br/>
			<section class="row gy-5 form-area-2">		
				<div class="col-sm col-lg">
					<div class="p-3 form-panel">
						<h2 class="form-panel-title">Buffs (1/2)</h2>
						<div>
							<input type="checkbox" id="is_motw" name="is_motw" value="is_motw" 
							{% if buffs is defined %}
								{% if buffs.is_motw %}checked {% endif %}
								{% else %} checked 
							{% endif %} >
							<label class="label" for="is_motw">(Improved) Mark of the Wild</label>
						</div>
						<div>
							<input type="checkbox" id="is_divine_spirit" name="is_divine_spirit" value="is_divine_spirit"
							{% if buffs is defined %}
								{% if buffs.is_divine_spirit %}checked {% endif %}
								{% else %} checked 
							{% endif %} >
							<label class="label" for="is_divine_spirit">Improved Divine Spirit</label>
						</div>
						<div>
							<input type="checkbox" id="is_arcane_brilliance" name="is_arcane_brilliance" value="is_arcane_brilliance" 
							{% if buffs is defined %}
								{% if buffs.is_arcane_brilliance %}checked {% endif %}
								{% else %} checked 
							{% endif %} >
							<label class="label" for="is_arcane_brilliance">Arcane Brilliance</label>
						</div>
						<div>
							<input type="checkbox" id="is_totem_of_wrath" name="is_totem_of_wrath" value="is_totem_of_wrath"
							{% if buffs is defined %}
								{% if buffs.is_totem_of_wrath %}checked {% endif %}
								{% else %} checked 
							{% endif %} >
							<label class="label" for="is_totem_of_wrath">Totem of wrath</label>
						</div>
						<div>
							<input type="checkbox" id="is_wrath_of_air" name="is_wrath_of_air" value="is_wrath_of_air" 
							{% if buffs is defined %}
								{% if buffs.is_wrath_of_air %}checked {% endif %}
								{% else %} checked 
							{% endif %} >
							<label class="label" for="is_wrath_of_air">Wrath of Air</label>
						</div>
						<div>
							<input type="checkbox" id="is_draenei_in_group" name="is_draenei_in_group" value="is_draenei_in_group"
							{% if buffs is defined %}
								{% if buffs.is_draenei_in_group %}checked {% endif %}
								{% else %} checked 
							{% endif %} >
							<label class="label" for="is_draenei_in_group">Draenei in group (spellhit)</label>
						</div>
						<div>
							<input type="checkbox" id="is_curse_of_elements" name="is_curse_of_elements" value="is_curse_of_elements"
							{% if buffs is defined %}
								{% if buffs.curse_of_elements > 1 %}checked {% endif %}
								{% else %} checked 
							{% endif %} >
							<label class="label" for="is_curse_of_elements">Curse of Elements</label>
						</div>
						<div>
							<input type="checkbox" id="is_improved_coe" name="is_improved_coe" value="is_improved_coe"
							{% if buffs is defined %}
								{% if buffs.curse_of_elements == 1.13 %}checked {% endif %}
								{% else %} checked 
							{% endif %} >
							<label class="label" for="is_improved_coe">Improved Curse of Elements</label>
						</div>		
						<div>
							<input type="checkbox" id="is_blessing_kings" name="is_blessing_kings" value="is_blessing_kings"
							{% if buffs is defined %}
								{% if buffs.is_blessing_kings %}checked {% endif %}
								{% else %} checked 
							{% endif %} >
							<label class="label" for="is_blessing_kings">Blessing of Kings</label>
						</div>	
						<div>
							<input type="checkbox" id="is_crusader" name="is_crusader" value="is_crusader"
							{% if buffs is defined %}
								{% if buffs.is_crusader %}checked {% endif %}
								{% else %} checked 
							{% endif %} >
							<label class="label" for="is_crusader">Improved Judgement of Crusader</label>
						</div>
						<div>
							<input type="checkbox" id="is_sham_4_piece" name="is_sham_4_piece" value="is_sham_4_piece"
							{% if buffs is defined %}
								{% if buffs.is_sham_4_piece %}checked {% endif %}
								{% else %} checked 
							{% endif %} >
							<label class="label" for="is_sham_4_piece">Shaman T4 2 pieces</label>
						</div>
						<div>
							<input type="checkbox" id="is_flask" name="is_flask" value="is_flask"
							{% if buffs is defined %}
								{% if buffs.is_flask %}checked {% endif %}
								{% else %} checked 
							{% endif %} >
							<label class="label" for="is_flask">Flask of Blinding Light</label>
						</div>
					</div>
				</div>
				<div class="col-sm col-lg">
					<div class="p-3 form-panel">
						<h2 class="form-panel-title">Buffs (2/2)</h2>			
						<div>
							<input type="checkbox" id="is_food" name="is_food" value="is_food"
							{% if buffs is defined %}
								{% if buffs.is_food %}checked {% endif %}
								{% else %} checked 
							{% endif %} >
							<label class="label" for="is_food">Food consumable (20sp)</label>
						</div>
						<div>
							<input type="checkbox" id="is_oil" name="is_oil" value="is_oil"
							{% if buffs is defined %}
								{% if buffs.is_oil %}checked {% endif %}
								{% else %} checked 
							{% endif %} >
							<label class="label" for="is_oil">Brilliant Wizard Oil</label>
						</div>	
						<div>
							<input type="checkbox" id="is_twilight_owl" name="is_twilight_owl" value="is_twilight_owl"
							{% if buffs is defined %}
								{% if buffs.is_twilight_owl %}checked {% endif %}
							{% endif %} >
							<label class="label" for="is_twilight_owl">Twilight Owl necklace in group</label>
						</div>	
						<div>
							<input type="checkbox" id="is_eye_of_night" name="is_eye_of_night" value="is_eye_of_night"
							{% if buffs is defined %}
								{% if buffs.is_eye_of_night %}checked {% endif %}
							{% endif %} >
							<label class="label" for="is_eye_of_night">Eye of the night necklace in group</label>
						</div>	
						<div>
							<input type="checkbox" id="is_T5" name="is_T5" value="is_T5"
							{% if buffs is defined %}
								{% if buffs.is_T5 %}checked {% endif %}
								{% else %} checked 
							{% endif %} >
							<label class="label" for="is_T5">T5 4 pieces bonus</label>
						</div>	
						<div>
							<input type="checkbox" id="is_T6_2" name="is_T6_2" value="is_T6_2"
							{% if buffs is defined %}
								{% if buffs.is_T6_2 %}checked {% endif %}
							{% endif %} >
							<label class="label" for="is_T6_2">T6 2 pieces bonus</label>
						</div>	
						<div>
							<input type="checkbox" id="is_T6_4" name="is_T6_4" value="is_T6_4"
							{% if buffs is defined %}
								{% if buffs.is_T6_4 %}checked {% endif %}
							{% endif %} >
							<label class="label" for="is_T6_4">T6 4 pieces bonus</label>
						</div>	
						<div>
							<input type="checkbox" id="is_misery" name="is_misery" value="is_misery"
							{% if buffs is defined %}
								{% if buffs.misery == 1.05 %}checked {% endif %}
								{% else %} checked 
							{% endif %} >
							<label class="label" for="is_misery">Misery debuff (SP in raid)</label>
						</div>	
						<div>
							<input type="checkbox" id="is_drums" name="is_drums" value="is_drums"
							{% if buffs is defined %}
								{% if buffs.is_drums %}checked {% endif %}
								{% else %} checked 
							{% endif %} >
							<label class="label" for="is_drums">Drums of War</label>
						</div>
						<div>
							<input type="checkbox" id="is_lust" name="is_lust" value="is_lust"
							{% if buffs is defined %}
								{% if buffs.is_lust %}checked {% endif %}
								{% else %} checked 
							{% endif %} >
							<label class="label" for="is_lust">Bloodlust / Heroism</label>
						</div>
						<div>
							<label class="label">Number of lusts</label>
							<select class="select lust lustAnimate" id="lust_count" name="lust_count">
								<option value="1">1</option>
								<option value="2">2</option>
							</select>
						</div>
					</div>
				</div>
			</section>
			<br/>
			<!-- Mana -->
			<section class="row gy-5 form-area-3">		
				<div class="col-md col-lg-12 col-xl-6">
					<div class="p-3 form-panel">
						<h2 class="form-panel-title">Mana Management</h2>
						<div class="mana-box d-flex justify-content-between align-items-center">
							<label class="label" id="mana-head" for="is_mana_simulated">Sim mana management ? (takes more time)</label>
							<input type="checkbox" id="is_mana_simulated" name="is_mana_simulated" value="										is_mana_simulated"
							{% if buffs is defined %}
								{% if is_mana_simulated %}checked {% endif %}
								{% else %}
							{% endif %} >
						</div>
						<div class="accordion bg-dark d-none mana-management" id="mana-management">
							<div class="accordion-item bg-dark">
								<p class="accordion-header bg-dark" id="mana-head">
								<button id="mana-management-button" class="accordion-button bg-dark text-white text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Mana Options
					      </button>
								</p>
								<div id="collapseOne" class="accordion-collapse collapse" aria-label class="label"ledby="mana-head" data-bs-parent="#mana-management">
									<div class="accordion-body">
										<ul class="mana-options">
											<li class="mana-config">
												<input type="checkbox" id="is_manapot" name="is_manapot" value="is_manapot" 
												{% if buffs is defined %}
													{% if buffs.is_manapot %}checked {% endif %}
													{% else %} 
												{% endif %} >
												<label class="label" for="is_manapot">Mana potions usage</label>
											</li>
											<li class="mana-config">
												<input type="checkbox" id="is_destruction_potion" name="is_destruction_potion" value="is_destruction_potion" 
												{% if buffs is defined %}
													{% if buffs.is_destruction_potion %}checked {% endif %}
													{% else %} 
												{% endif %} >
												<label class="label" for="is_destruction_potion">Destruction potion usage (you must disable Mana Potions first)</label>
											</li>
											<li class="mana-config">
												<input type="checkbox" id="is_bowis" name="is_bowis" value="is_bowis"
												{% if buffs is defined %}
													{% if buffs.is_bowis %}checked {% endif %}
													{% else %} 
												{% endif %} >
												<label class="label" for="is_bowis">Benediction of Wisdom</label>
											</li>
											<li class="mana-config">
												<input type="checkbox" id="is_mana_oil" name="is_mana_oil" value="is_mana_oil" 
												{% if buffs is defined %}
													{% if buffs.is_mana_oil %}checked {% endif %}
													{% else %} 
												{% endif %} >
												<label class="label" for="is_mana_oil">Mana oil</label>
											</li>
											<li class="mana-config">
												<input type="checkbox" id="is_rune" name="is_rune" value="is_rune"
												{% if buffs is defined %}
													{% if buffs.is_rune %}checked {% endif %}
													{% else %} 
												{% endif %} >
												<label class="label" for="is_rune">Dark/Demonic Runes usage</label>
											</li>
											<li class="mana-config">
												<input type="checkbox" id="is_innervate" name="is_innervate" value="is_innervate" 
												{% if buffs is defined %}
													{% if buffs.is_innervate %}checked {% endif %}
													{% else %} 
												{% endif %} >
												<label class="label" for="is_innervate">Self Innervate</label>
											</li>
											<li class="mana-config">
												<input type="checkbox" id="is_mana_spring" name="is_mana_spring" value="is_mana_spring"
												{% if buffs is defined %}
													{% if buffs.is_mana_spring %}checked {% endif %}
													{% else %} 
												{% endif %} >
												<label class="label" for="is_mana_spring">Mana Spring</label>
											</li>
											<li class="mana-config">
												<input type="checkbox" id="is_shadow_priest" name="is_shadow_priest" value="is_shadow_priest"
												{% if buffs is defined %}
													{% if buffs.is_shadow_priest %}checked {% endif %}
													{% else %} 
												{% endif %} >
												<label class="label" for="is_shadow_priest">Shadowpriest in group</label>
											</li>
											<li id="spriest-dps" class="d-none">
												<label class="label" for="shadow_priest_dps">Shadow Priest estimated DPS</label>  
												<input class="gear-input textAnimate" type="text" id="shadow_priest_dps" name="shadow_priest_dps" {% if buffs is defined %} value="{{ buffs.shadow_priest_dps}}" {% else %} value="0" {% endif %}/>
											</li>
											<li class="mana-config">
												<input type="checkbox" id="is_judgment_of_wisdom" name="is_judgment_of_wisdom" value="is_judgment_of_wisdom"
												{% if buffs is defined %}
													{% if buffs.is_judgment_of_wisdom == 1.13 %}checked {% endif %}
													{% else %}  
												{% endif %} >
												<label class="label" for="is_judgment_of_wisdom">Judgement of Wisdom</label>
											</li>
											<li class="mana-config">
												<input type="checkbox" id="is_spirit_scroll" name="is_spirit_scroll" value="is_spirit_scroll"
												{% if buffs is defined %}
													{% if buffs.is_spirit_scroll %}checked {% endif %}
													{% else %} 
												{% endif %} >
												<label class="label" for="is_spirit_scroll">Scroll of Spirit V</label>
											</li>
									</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="col-sm col-lg">
				</div> -->
			</section>
			<!-- Fin ajout Mana -->
			
			<br/>
			<section class="row gy-5 sidebar">
				<div class="col-sm col-lg">
					<div class="p-3 form-panel sidebar-panel">
						<div class="sidebar-content">
							<h2 class="form-panel-title">Encounter simulation</h2>
							<ul class="sidebar-menu">
								<li class="sidebar-menu-item">
									<label class="label" for="fight_duration">Fight Duration (in seconds)</label> 
									{% if nb_length is defined %} 
									<select class="select fight-duration selAnimate" id="fight_duration" name="fight_duration" value="{{nb_length}}">
										<option class="d-none" value="{{nb_length}}"></option>
										<option value="60">1 Minute</option>
										<option value="90">1 Minute 30 sec</option>
										<option value="120">2 Minutes</option>
										<option value="150">2 Minutes 30 sec</option>
										<option value="180">3 Minutes</option>
										<option value="210">3 Minutes 30 sec</option>
										<option value="240">4 Minutes</option>
										<option value="270">4 Minutes 30 sec</option>
										<option value="300">5 Minutes</option>
										<option value="330">5 Minutes 30 sec</option>
										<option value="360">6 Minutes</option>
									</select>
									{% else %}
									<select class="select fight-duration fdAnimate" id="fight_duration" name="fight_duration">
										<option value="60">1 Minute</option>
										<option value="90">1 Minute 30 sec</option>
										<option value="120">2 Minutes</option>
										<option value="150">2 Minutes 30 sec</option>
										<option value="180">3 Minutes</option>
										<option value="210" selected>3 Minutes 30 sec</option>
										<option value="240">4 Minutes</option>
										<option value="270">4 Minutes 30 sec</option>
										<option value="300">5 Minutes</option>
										<option value="330">5 Minutes 30 sec</option>
										<option value="360">6 Minutes</option>
									</select>
									{% endif %}
										
								</li>
								<li class="sidebar-menu-item">
									<label class="label">Number of loops (less than 100k)</label>  
									{% if nb_loops is defined %}
										<input class="gear-input loop-input fdAnimate fight-duration" type="text" name="loop_count" value="{{nb_loops}}" />
										{% else %} 
										<input class="gear-input loop-input fdAnimate" type="text" name="loop_count" value="10000" />
									{% endif %} 
								</li>
								<!-- <li class="sidebar-menu-item">
									<label class="label" for="is_mana_simulated">Sim mana management ? (takes more time)</label>
									<input type="checkbox" id="is_mana_simulated" name="is_mana_simulated" value="is_mana_simulated"
									{% if buffs is defined %}
										{% if is_mana_simulated %}checked {% endif %}
										{% else %} checked
									{% endif %} >
								</li> -->
							</ul>
							<input type="submit" class="submit-btn" id="submitBtn" value="Simulate !" />
						</div>
						{% if dps is defined %}
						<hr class="divider"></hr>
						<div class="sim-text" id="sim-text">
						<br/>
					    <!-- <p>Fight simulated</p> -->
							<p class="simNumbers">DPS with current configuration : {{ dps|round(4) }} </p>
						<br/>
						</div>
					  {% endif %}
					  <div class="loadingSpinner d-none" id="spinner">
							<div class="spinner-border text-primary" role="status" >
	  						<span class="visually-hidden">Loading...</span>
							</div>
							<p class="loadingText">Simulating DPS (this might take a moment)</p>
						</div>
					  <div class="sidebar-footer sidebar-footer-no-sim" id="sidebar-footer">
							<a href="https://discord.gg/9y8ethbkUQ">
				        <img class="server-icon" src="/static/img/moonkinIcon.jpg" alt="Discord Server Icon"></img> 
				        <p class="discIconText">Join the Discord!</p>
				      </a> 
						</div>
					</div>
					
				</div>	
			</section>
		</form>
	<!-- </section> -->
{% endblock %}
