body {
	background-color: #212529;
	color: white;
	font-family: "Montserrat";
	/*only when sidebar is on*/
	margin-left: 13vw;
	font-size: 1rem;
}
h1,h2,h3{
	font-weight: 600;
	font-size: calc(1.8rem);
}
header{
	width: 87vw;
	border-bottom: 1px solid white;
	/*width: 100vw;*/
	text-align: center;
	box-shadow: 0px 3px 7px #171819;
	
}
ul{
	list-style: none;
	padding: 0;
}
li{
	display: flex;
	justify-content: space-between;
}
input[type="text"], select{
	background: none;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: white;
	color: white;
	text-align: right;
}
input[type="checkbox"]:hover{
	border-width: 2px;
	border-style: inset;
	border-color: #0075ff;
}
select:focus {
  background-color: #25292d;
  color: white;
  border-style: none;
  outline: none;
}
select option:hover{
	background-color: var(--gray);
}
select:hover, input[type="text"]:hover{
	border-width: 0px 0px 4px 0px;
	border-style: inset;
}
legend{
	margin-bottom: 35px;
}
.sim-text{
	text-align: center;
	font-weight: 600;
	padding: 10px;
	border: 2px solid #656565;
	border-radius: 15px;
	background-color: #212529;
	margin-top: 20px;
}
.sim-divider{
	margin-top: 10px;
	margin-bottom: 10px;
	border-color: #656565;
}
.sim-title{
	text-align: center;
	height: 50px;
	width: 50%;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	border-radius: 15px;
}
.divider{
	border-width: 2px;
	margin-top: 25px;
	margin-bottom: 25px;
}
.stuff-values li{
	margin-top: 10px;
	margin-bottom: 10px;
}
.gear-input{
	width: 75px;
}
.head-text{
	padding: 25px;
}
.sim-box{
	padding: 20px;
	margin-left: 3vw;
}
.form-panel{
	height: 100%;
	border-radius: 15px;
	box-shadow: 5px 5px 7px #171819;
	border: 2px solid #656565;
}
.form-panel-title{
	margin-bottom: 25px;
	text-align: center;
}
/*Sidebar styling*/
.sidebar{
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 18vw;
	text-align: center;
}
.sidebar-panel{
	border-radius: 0px;
	height: 100vh;
	border-style: none;
	box-shadow: 5px 5px 7px #171819;
	margin-top: 0;
	/*overflow:  hidden;*/
}
.sidebar-menu-item{
	flex-direction: column;
	margin-bottom: 50px;
}
.submit-btn{
	color: white;
	text-align: center;
	font-weight: 400;
	background: none;
	border: 2px solid #656565;
	border-radius: 5px;
	padding: 5px;
}
.submit-btn:hover{
	background-color: white;
	color: black;
}
@media(max-width: 1185px){
	.form-area-1{
		flex-direction: column;
		gap: 20px;
	}
}
@media(max-width: 1150px){
	h1,h2,h3{
		font-size: 1.3rem;
	}
}
@media(max-width: 980px){
	.sidebar-menu-item{
		font-size: 0.8rem;
	}
	.form-area-2{
		flex-direction: column;
		gap: 20px;
	}
}
@media(max-width: 1050px){
	.sidebar{
		width: 195px;
	}
}
@media(max-width: 775px){
	.sim-text{
		width: 100%;
	}
	.sidebar{
		position: static;
		left: 0;
		top: 0;
		height: 200px;
		width: 100%;
		margin: 0px;
		padding: 0;
	}
	.sidebar-panel{
		border-radius: 15px;
		height: 100%;
		border-style: none;
		box-shadow: 5px 5px 7px #171819;
		width: 100%;
		/*overflow:  hidden;*/
	}
	.sidebar-menu-item{
		margin-bottom: 10px;
		flex-direction: row;
	}
	.sidebar-menu-item label{
		width: 115px;
	}
	.sidebar-menu-item select, .sidebar-menu-item input{
		width: 100px;
	}
	body{
		margin-left: 0px;
	}
	header{
		width: 100%;
	}
}
@media(max-width: 650px){
	body{
		font-size: 0.8rem;
	}
}
@media(max-width: 550px){
	li{
		flex-direction: column;
		align-content: space-around;
	}
}